/* Basic editor styles */
/* > * + * {
  margin-top: 0.75em;
} */

.ProseMirror {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  min-height: 250px;
  padding: 5px;
}

.tiptap a {
  color: #68cef8;
  text-decoration: underline;
}

.tiptap .toolbar button {
  border: 1px solid #e2e8f0;
  margin: 5px 2px;
  padding: 5px;
  border-radius: 5px;
}

.tiptap .is-active {
  background-color: #38a169;
  color: white;
  font-weight: bold;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
